<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
            <a href="/signup"><button>Sign Up</button></a>
            <a href="/login"><button>Login</button></a>
        </div>
    </main>
</body>
</html>