<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title style>Crème de la Crème</title>
   
</head>
<body> 
    <style>
@media only screen and (max-width: 400px) {
  #showcase .navbar, .header {
     text-align: center;
  }
}

   body{
    margin: 0;
    font-size: 17px;
    color: aliceblue;
    line-height: 1.6;
    }
    
    #showcase{
    background-image: url(./images/piebackground.jpeg);
    background-size: cover;
    background-position: center;
    height:100vh;
    }

    #showcase .header {
    font-family: 'Solway', serif;
    padding: 150px 200px 25px 200px;
    text-align: center;
    }

    #showcase .navbar{
    text-align: right;
    padding: 40px 80px 40px;
    font-size: 25px;
    font-family:'Hammersmith One', sans-serif;
    }

    #showcase .content{
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    }

    #showcase h3{
        font-size:65px; 
        line-height: 1.2;
    }

    </style>
    
    <header id="showcase">
        <div class="navbar">
            <nav>
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">HOME</a>
                <a class="nav-link fw-bold py-1 px-0" href="/user/signup">SIGNUP</a>
                <a class="nav-link fw-bold py-1 px-0" href="/user/login">LOGIN</a>
              </nav>
        </div>
        <div class="header">
            <h1>CRÈME DE LA CRÈME</h1>  
        </div>
        <div class="content">
            <h3>A digital recipe box <br> for your favorite recipes.</h3>
            <a class="newsletter-link" href="/user/newsletter"><button style="background-color: transparent; color: white; border-color: white; font-size: 2rem">Sign Up for Updates</button></a>
        </div>
    </header>
</body>
</html>