<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<style>
form {
        margin: 80px;
    }
legend {
    font-family: 'Solway', serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
}
.bottom-links {
    text-align: center;
}
</style>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form action="/recipes" method="POST">
                <fieldset>
                    <legend>Add a New Recipe</legend>
                    <label> Title of the Recipe: <input type="text" name="title"/></label>
                    <label> Image URL of the Recipe: <input type="text" name="image"/></label>
                    <label> Type of the Recipe: 
                        <select id="recipeType" name="type">
                            <option value="breakfast">Breakfast</option>
                            <option value="salad">Salad</option>
                            <option value="pasta">Pasta</option>
                            <option value="bread">Bread</option>
                            <option value="dinner">Dinner</option>
                            <option value="dessert">Dessert</option>
                            <option value="drink">Drink</option></select></label>
                    <label> Ingredients: 
                        <textarea id="textarea" placeholder="Enter ingredients..." name="ingredients"></textarea></label>
                    <label> Instruction: 
                        <textarea id="textarea" placeholder="Enter instruction..." name="instruction"></textarea></label>
                    <div class ="bottom-links">
                    <button type="submit" style="background-color: transparent; color: darkslategray; border-color: transparent; font-size: 1.4rem">Add New Recipe</button>
                    <a class="nav-link fw-bold py-1 px-0" href="/recipes"><button style="background-color: transparent; color: darkslategray; border-color: transparent; font-size: 1.4rem">BACK TO LIST</a></button>
                </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>